body {
  background-color: #f7f6f4;
  padding-bottom: 90px;
  font-family: Arial, sans-serif;
}

/* TOP BAR */
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.logo {
  color: #b71c1c;
  font-weight: bold;
}

.cart {
  font-size: 20px;
}

/* TITLE */
.page-title {
  text-align: center;
  color: #b71c1c;
  font-weight: bold;
  margin-bottom: 20px;
}

/* GRID MENU */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

/* ITEM CARD */
.menu-item {
  background-color: #ded8d2;
  border-radius: 18px;
  padding: 10px;
}

.menu-item img {
  width: 100%;
  height: 90px;
  object-fit: cover;
  border-radius: 12px;
}

.menu-item h6 {
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
}

.menu-item p {
  font-size: 13px;
  margin: 0;
}

/* NAVBAR BAWAH */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border-top: 2px solid #b71c1c;
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  font-size: 13px;
}

.bottom-nav div {
  text-align: center;
  color: #b71c1c;
}

.bottom-nav .active {
  font-weight: bold;
}
